 {
  "openapi": "3.0.3",
  "info": {
    "title": "Digipud API",
    "version": "0.0.1",
    "description": "Digital Puddle is portable self made Digital Ocean Clone",
    "termsOfService": "",
    "x-logo": {
      "url": ""
    }
  },
  "servers": [
    {
      "url": "http://vmhost.vm:2107",
      "description": "",
      "variables": {},
      "x-last-modified": 1627759672571
    }
  ],
  "paths": {
    "/": {
      "summary": "dashboard",
      "description": "Dashboard",
      "get": {
        "tags": [],
        "operationId": "dashboard_get",
        "responses": {
          "Dashboard Response": {
            "description": "asd",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": null,
                  "pattern": "",
                  "enum": null,
                  "description": "",
                  "example": "",
                  "externalDocs": {
                    "url": "",
                    "description": ""
                  }
                },
                "encoding": "",
                "example": ""
              }
            },
            "x-last-modified": 1627759878307,
            "headers": {},
            "links": {}
          }
        }
      },
      "x-last-modified": 1627759789543
    }
  },
  "components": {
    "securitySchemes": {},
    "schemas": {},
    "headers": {},
    "responses": {},
    "parameters": {}
  },
  "tags": [],
  "security": []
} 
